# Automatic
packrat/lib*/
.Rproj.user
Related_Papers/
.Rhistory

# Specific Files
Summary_BKT_OU_GMRF.html
Output/Summary_BKT_OU_GMRF.html
Diagnostics/log_file.txt
W_Susquehanna.RData
Data/derived_site_metrics.csv

# General File Types
*.Rhistory
*.o
*.dll
*.so
*.png
*.pdf
*.jpg
*.jpeg
*.tif
*.tiff
*.html
.DS_Store

# Partial Folders
Output/*.RData

# Entire Folders
Diagnostics/
prismtmp/
Output/Figures/
Presentations/
Output/
Sandbox/

# KO Ignore
gisFiles/
Output/W_Susquehanna.RData
Output/Spatiotemporal.RData
