packrat/lib*/
.Rproj.user
Related_Papers/
.Rhistory
*.Rhistory
*.o
*.dll
*.so
*.png
*.pdf
*.jpg
*.jpeg
*.tif
*.tiff
W_Susquehanna.RData
Output/*.RData
prismtmp/
Output/Figures/
Presentations/

#KO Ignore
gisFiles/
Output/W_Susquehanna.RData
Output/Spatiotemporal.RData
