packrat/lib*/
.Rproj.user
Related_Papers/
.Rhistory
*.Rhistory
*.o
*.dll
*.so
*.png
*.pdf
*.jpg
*.jpeg
*.tif
*.tiff
Summary_BKT_OU_GMRF.html
Output/Summary_BKT_OU_GMRF.html
Diagnostics/
Diagnostics/log_file.txt
W_Susquehanna.RData
Output/*.RData
prismtmp/
Output/Figures/
Presentations/
Output/

#KO Ignore
gisFiles/
Output/W_Susquehanna.RData
Output/Spatiotemporal.RData
